### 225229140

### car price prediction

In [195]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

In [196]:
# Load the car data
car_data = pd.read_csv('CARS_1.csv')

In [197]:
car_data.head()

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,ending_price
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,89.0,3500,65.71,5500,583000
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,136.8,4400,101.65,6000,1396000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,300.0,2800,130.00,3750,1603000
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,450.0,2800,182.38,3500,2458000
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,400.0,2750,172.45,3500,2390000

In [198]:
car_data.dropna(inplace=True)

In [199]:
car_data=car_data.drop(['car_name','body_type'],axis=1)

In [200]:
a={'Petrol':0,'Diesel':1,'Electric':2,'CNG':3}
car_data['fuel_type']=car_data['fuel_type'].replace(a)

In [201]:
car_data.head()

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,rating,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,ending_price
0,51,0,998,3,5.0,Automatic,27.0,4.5,89.0,3500,65.71,5500,583000
1,86,0,1462,4,5.0,Automatic,48.0,4.5,136.8,4400,101.65,6000,1396000
2,242,1,2184,4,4.0,Automatic,57.0,4.5,300.0,2800,130.00,3750,1603000
3,313,1,2198,4,7.0,Automatic,60.0,4.5,450.0,2800,182.38,3500,2458000
4,107,1,2198,4,7.0,Automatic,57.0,4.5,400.0,2750,172.45,3500,2390000

In [202]:
car_data['transmission_type'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [203]:
b={'Automatic':0,'Manual':1}
car_data['transmission_type']=car_data['transmission_type'].replace(b)
car_data.head()

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,rating,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,ending_price
0,51,0,998,3,5.0,0,27.0,4.5,89.0,3500,65.71,5500,583000
1,86,0,1462,4,5.0,0,48.0,4.5,136.8,4400,101.65,6000,1396000
2,242,1,2184,4,4.0,0,57.0,4.5,300.0,2800,130.00,3750,1603000
3,313,1,2198,4,7.0,0,60.0,4.5,450.0,2800,182.38,3500,2458000
4,107,1,2198,4,7.0,0,57.0,4.5,400.0,2750,172.45,3500,2390000

In [204]:
car_data['transmission_type']

0      0
1      0
2      0
3      0
4      0
      ..
198    0
199    0
200    1
201    0
202    1
Name: transmission_type, Length: 202, dtype: int64

In [205]:
X=car_data.drop('ending_price',axis=1)
y=car_data['ending_price']

In [206]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [207]:
# Train a linear regression model
model = LogisticRegression()
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [208]:
# Predict the prices of the test set
predictions = model.predict(X_test)

In [209]:
# Print the mean squared error of the model
print('Mean squared error:', mean_squared_error(y_test, predictions))

Mean squared error: 316499638048780.5

In [210]:
import pickle

In [211]:
c='car.pkl'
file=open(c,'wb')
pickle.dump(model,file)

In [212]:
file=open(c,'rb')
d=pickle.load(file)

In [213]:
df=[[51,0,998,3,5.0,0,27.0,4.5,89.0,3500,65.71,5500]]

In [214]:
d.predict(df)

array([583000], dtype=int64)